@page
@model Senparc.Xscf.WeixinManager.Areas.Admin.WeixinManager.IndexModel
@{
    ViewData["Title"] = "公众号控制中心";
}
@section HeaderContent{
    @*<link href="~/node_modules/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
        <link href="~/node_modules/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">*@
}
@section scripts{
    @*<script src="~/node_modules/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>*@
    <script src="~/node_modules/gentelella/vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="~/node_modules/gentelella/vendors/echarts/dist/echarts.min.js"></script>
    <script src="~/node_modules/gentelella/vendors/echarts/map/js/world.js"></script>
    <script>
        var mpAccountJson = @Model.MpAccountDtos.Select(z=>z.Id).ToJson();
        var chartOptions = {};
        var chartBuilt = false;
        $(function () {
            getCharData();
        });

        function getCharData() {
            var idsData = {};
            for (var i = 0; i < mpAccountJson.length; i++) {
                idsData['ids[' + i + ']'] = mpAccountJson[i];
            }

            $.ajax({
                type: 'POST',
                url: '@Html.Raw(Url.PageLink("./Index", "AccessTokenStatus", new { uid = Model.Uid}))',
                headers: {
                "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').first().val()
                },
                data: idsData,
                success: function (json) {
                    bildMpAccountChart(json);
                    chartBuilt = true;
                    setTimeout(getCharData, 1000 * 5);
                }
            });
        }

        function bildMpAccountChart(dataArr) {
            for (var i = 0; i < dataArr.length; i++) {
                var data = dataArr[i];
                var status = data.status;
                var leftTimePercent = data.leftPercent;

                if (chartBuilt) {
                    chartOptions[data.id+''].options.series[0].data[0].value = leftTimePercent;
                    chartOptions[data.id+''].options.series[0].data[0].name = status;
                } else {
                    var id = 'chart_mpaccount_' + data.id;
                // 指定图表的配置项和数据
                    chartOptions[data.id + ''] = {
                        chartObj: echarts.init(document.getElementById(id)),
                        options: {
                            tooltip: {
                                formatter: '{a} <br/>{b} : {c}%'
                            },
                            toolbox: {
                                feature: {
                                    restore: {},
                                    saveAsImage: {}
                                }
                            },
                            series: [
                                {
                                    name: 'AccessToken 凭证状态',
                                    type: 'gauge',
                                    detail: { formatter: '{value}%' },
                                    data: [{ value: leftTimePercent, name: status }]
                                }
                            ]
                        }
                    };
                }
                chartOptions[data.id+''].chartObj.setOption(chartOptions[data.id+''].options, true);
            }
        }
    </script>
}

<div class="title_left">
    @*<h3>公众号控制中心</h3>*@
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="x_content">
            <div class="row">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="count">@Model.MpAccountDtos.Count</div>
                        <h3>公众号数量</h3>
                        <p>已经录入系统的公众号</p>
                    </div>
                </div>

                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-tachometer"></i>
                        </div>
                        <div class="count">@Model.AccessTokenBags.Count</div>
                        <h3>运行账号数量</h3>
                        <p>已经生效并连接微信服务器的账号数量</p>
                    </div>
                </div>

                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="count">@Model.WeixinUserCount</div>
                        <h3>总微信用户数</h3>
                        <p>在当前平台交互过或自动拉取关注的用户数</p>
                    </div>
                </div>

                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="count">@Model.WeixinUserCount</div>
                        <h3>今日新增用户数</h3>
                        <p>当天已经同步或添加到平台的用户数量</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="x_content">
            @foreach (var mpAccountDto in Model.MpAccountDtos)
            {
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel ">
                        @*fixed_height_320*@
                        <div class="x_title">
                            <h2>@mpAccountDto.Name</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="dashboard-widget-content">
                                <div class="col-md-4 col-sm-4">
                                    <ul class="quick-list">
                                        <li><i class="fa fa-line-chart"></i><a asp-page="./WeixinUser/Index" asp-route-uid="@Model.Uid" asp-route-mpId="@mpAccountDto.Id">查看用户</a></li>
                                        <li><i class="fa fa-thumbs-up"></i><a href="#">查看分组</a></li>
                                        <li><i class="fa fa-calendar-o"></i><a href="#">查看标签</a></li>
                                        <li><i class="fa fa-area-chart"></i><a href="#">对话</a></li>
                                        <li><i class="fa fa-cog"></i><a asp-page="./MpAccount/Edit" asp-route-uid="@Model.Uid" asp-route-id="@mpAccountDto.Id">编辑</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <h4>AccessToken 凭证有效期</h4>
                                    <div id="chart_mpaccount_@mpAccountDto.Id" style="width: 400px;height:320px;"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            }
        </div>
    </div>
</div>
@*<form asp-page="./Index">

    </form>*@