@page
@model Senparc.Xscf.WeixinManager.Areas.Admin.WeixinManager.IndexModel
@{
    ViewData["Title"] = "公众号控制中心";
}
@section HeaderContent{
    @*<link href="~/node_modules/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
        <link href="~/node_modules/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">*@
}
@section scripts{
    @*<script src="~/node_modules/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>*@
    <script src="~/node_modules/gentelella/vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="~/node_modules/gentelella/vendors/echarts/dist/echarts.min.js"></script>
    <script src="~/node_modules/gentelella/vendors/echarts/map/js/world.js"></script>
    <script>
        $(function () {
            var idsData = {};
            var mpAccountJson = @Model.MpAccountDtos.Select(z=>z.Id).ToJson();

            for (var i = 0; i < mpAccountJson.length; i++) {
                idsData['ids[' + i + ']'] = mpAccountJson[i];
            }

            setInterval(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.PageLink("./Index", "AccessTokenStatus", new { uid = Model.Uid})',
                    data: idsData,
                    success: function (json) {
                        bildMpAccountChart(json);
                    }
                });

             }, 2000);


        });

        function bildMpAccountChart(data) {
            var id = 'chart_mpaccount_' + data.Id;
            var myChart = echarts.init(document.getElementById(id));

            var status = data.Status;
            var leftTimePercent = data.LeftPercent;

            // 指定图表的配置项和数据
            option = {
                tooltip: {
                    formatter: '{a} <br/>{b} : {c}%'
                },
                toolbox: {
                    feature: {
                        restore: {},
                        saveAsImage: {}
                    }
                },
                series: [
                    {
                        name: 'AccessToken 凭证状态',
                        type: 'gauge',
                        detail: { formatter: '{value}%' },
                        data: [{ value: leftTimePercent, name: status }]
                    }
                ]
            };

            myChart.setOption(option, true);
        }
    </script>
}

<div class="title_left">
    @*<h3>公众号控制中心</h3>*@
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="x_content">
            <div class="row">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-caret-square-o-right"></i>
                        </div>
                        <div class="count">@Model.MpAccountDtos.Count</div>
                        <h3>公众号数量</h3>
                        <p>已经录入系统的公众号</p>
                    </div>
                </div>

                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-caret-square-o-right"></i>
                        </div>
                        <div class="count">@Model.AccessTokenBags.Count</div>
                        <h3>运行账号数量</h3>
                        <p>已经生效并连接微信服务器的账号数量</p>
                    </div>
                </div>

                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-caret-square-o-right"></i>
                        </div>
                        <div class="count">@Model.RegisteredMpAccountCount</div>
                        <h3>总微信用户数</h3>
                        <p>在当前平台交互过或自动拉取关注的用户数</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="x_content">
            @foreach (var mpAccountDto in Model.MpAccountDtos)
            {
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel ">
                        @*fixed_height_320*@
                        <div class="x_title">
                            <h2>@mpAccountDto.Name</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="dashboard-widget-content">
                                @*<div class="sidebar-widget">
                                        <h4>凭证有效期</h4>
                                        <canvas width="150" height="80" id="chart_gauge_@mpAccountDto.Id" class="" style="width: 160px; height: 100px;"></canvas>
                                        <div class="goal-wrapper">
                                            <span id="gauge-text_@mpAccountDto.Id" class="gauge-value gauge-chart pull-left">0</span>
                                            <span class="gauge-value pull-left">%</span>
                                            <span id="goal-text-@mpAccountDto.Id" class="goal-value pull-right">100%</span>
                                        </div>
                                    </div>*@
                                @*<div class="sidebar-widget">
                                        <h4>凭证有效期</h4>
                                        <canvas width="150" height="80" id="chart_gauge_02" class="" style="width: 160px; height: 100px;"></canvas>
                                        <div class="goal-wrapper">
                                            <span class="gauge-value pull-left">$</span>
                                            <span id="gauge-text2" class="gauge-value pull-left">2,100</span>
                                            <span id="goal-text2" class="goal-value pull-right">$5,000</span>
                                        </div>
                                    </div>*@
                                <div class="col-md-4 col-sm-4">
                                    <ul class="quick-list">
                                        <li><i class="fa fa-line-chart"></i><a asp-page="../WeixinUser" asp-route-uid="@Model.Uid">查看用户</a></li>
                                        <li><i class="fa fa-thumbs-up"></i><a href="#">查看分组</a></li>
                                        <li><i class="fa fa-calendar-o"></i><a href="#">查看标签</a></li>
                                        <li><i class="fa fa-area-chart"></i><a href="#">对话</a></li>
                                        <li><i class="fa fa-cog"></i><a asp-page="./Edit" asp-route-uid="@Model.Uid">编辑</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <h4>AccessToken 凭证有效期</h4>
                                    <div id="chart_mpaccount_@mpAccountDto.Id" style="width: 400px;height:320px;"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            }
        </div>
    </div>
</div>
